@use '../../../styles/colors';
@use '../../../styles/fonts';

/* styles */
.header {
	align-items: center;
	background: linear-gradient(to bottom left, colors.$color_header_gradiant_primary, colors.$color_header_gradiant_secondary, colors.$color_header_gradiant_primary);
	display: flex;
	height: 4rem;
	justify-content: space-between;
	padding: 0 10%;
	width: 100%;

	.logo {
		color: colors.$color_header_accent;
		font-family: fonts.$font_header_secondary;
		font-size: 2rem;
		font-weight: bold;
		text-shadow: colors.$color_header_primary 1px 1px;
	}

	ul {
		align-items: baseline;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-left: 3rem;
	}

	a {
		color: colors.$color_header_primary;
		font-size: 1.1rem;
		font-family: fonts.$font_header_primary;
		position: relative;
		text-decoration: none;

		&:after {
			background-color: colors.$color_header_accent;
			bottom: 0;
			content: '';
			height: 2px;
			left: 0;
			position: absolute;
			transition: all 0.3s ease-in-out 0s;
			visibility: hidden;
			width: 0%;
		}

		&:hover,
		&:active {
			color: colors.$color_header_primary;
			text-shadow: colors.$color_header_accent 0 -1px;

			&:after {
				visibility: visible;
				width: 100%;
			}
		}
	}
}
